<nav>
  <div class="sidebar-button">
    <span class="dashboard">Welcome back, {{firstName}}</span>
  </div>
  {{#if firstName}}
  {{else}}
    <div class="profile-details">
      <a href="/auth/register" class="auth-btn">Sign up</a>
    </div>
  {{/if}}
</nav>

{{! summary cards }}
{{#if totalBalance}}
  <div class="overview-boxes">
    <div class="box">
      <p class="box-topic">Available Balance</p>
      <p class="number">₦{{totalBalance}}</p>
    </div>
    <div class="box">
      <p class="box-topic">Total Deposits</p>
      <p class="number">₦{{totalDeposits}}</p>
    </div>
    <div class="box">
      <p class="box-topic">Total Withdrawals</p>
      <p class="number">₦{{totalWithdrawals}}</p>
    </div>
  </div>
{{else}}
  <div class="overview-boxes">
    <div class="box">
      <p class="box-topic">Available Balance</p>
      <p class="number">₦0</p>
    </div>
    <div class="box">
      <p class="box-topic">Total Deposits</p>
      <p class="number">₦0</p>
    </div>
    <div class="box">
      <p class="box-topic">Total Withdrawals</p>
      <p class="number">₦0</p>
    </div>
  </div>
{{/if}}