<nav>
  <div class="sidebar-button">
    <span class="dashboard">Welcome back, {{firstName}}</span>
  </div>

  {{!-- <div class="card-body w-50 rounded-0">
      <div id="AvatarFileUpload">
        <div class="selected-image-holder">
          <label for="image">
            {{#if imageUrl}}
            <img
              src="/uploads/{{imageUrl}}"
              alt="profile picture"
              name="image"
            />
            {{else}}
                 <img
                src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png"
                alt="profile picture"
                name="image"
                />
            {{/if}}
          </label>
        </div>
      </div>
    </div> --}}
  {{#if firstName}}
  {{else}}
    <div class="profile-details">
      <a href="/auth/register" class="auth-btn">Sign up</a>
    </div>
  {{/if}}
</nav>

{{! summary cards }}
{{#if totalBalance}}
  <div class="overview-boxes">
    <div class="box">
      <p class="box-topic">Available Balance</p>
      <p class="number">₦{{totalBalance}}</p>
    </div>
    <div class="box">
      <p class="box-topic">Total Deposits</p>
      <p class="number">₦{{totalDeposits}}</p>
    </div>
    <div class="box">
      <p class="box-topic">Total Withdrawals</p>
      <p class="number">₦{{totalWithdrawals}}</p>
    </div>
  </div>
{{else}}
  <div class="overview-boxes">
    <div class="box">
      <p class="box-topic">Available Balance</p>
      <p class="number">₦0</p>
    </div>
    <div class="box">
      <p class="box-topic">Total Deposits</p>
      <p class="number">₦0</p>
    </div>
    <div class="box">
      <p class="box-topic">Total Withdrawals</p>
      <p class="number">₦0</p>
    </div>
  </div>
{{/if}}