{{!< main }}

{{#if successMsg}}
  <p class="success-message">{{successMsg}}</p>
{{/if}}

{{#if errorMessage}}
  <p class="error-message">{{successMsg}}</p>
{{/if}}

<div class="wallet-activity-wrapper">
  <h4 style="color: #333; margin-top: 6px">Wallet activities</h4>
  <div class="card">
<<<<<<< Updated upstream
    {{!-- <div class="filter-section">
      <div class="filter-input">
        <input type="text" placeholder="Filter" />
        <i class="bx bx-filter"></i>
      </div>
      <div class="filter-dropdown">
        <select>
          <option value="date">Filter by Date</option>
          <option value="deposits">Filter by Deposits</option>
          <option value="withdrawals">Filter by Withdrawals</option>
          <option value="transfers">Filter by Transfers</option>
        </select>
      </div>
    </div> --}}
    <div class="transaction-cards">
      <div class="transaction-card">
        <div class="details">
          <div class="date">02 Jan 2021</div>
          <div class="status pending">Pending</div>
          <div class="transaction-type withdrawal">Withdrawal</div>
          <div class="amount">₦20,000</div>
        </div>
      </div>
      <div class="transaction-card">
        <div class="details">
          <div class="date">02 Jan 2021</div>
          <div class="status approved">Approved</div>
          <div class="transaction-type deposit">Deposit</div>
          <div class="amount">$24.55</div>
        </div>
      </div>
      <div class="transaction-card">
        <div class="details">
          <div class="date">02 Jan 2021</div>
          <div class="status pending">Pending</div>
          <div class="transaction-type withdrawal">Withdrawal</div>
          <div class="amount">₦20,500</div>
        </div>
      </div>
      <div class="transaction-card">
        <div class="details">
          <div class="date">02 Jan 2021</div>
          <div class="status approved">Approved</div>
          <div class="transaction-type deposit">Deposit</div>
          <div class="amount">₦25,605</div>
        </div>
      </div>
      <!-- Add more transaction cards here -->
    </div>
=======
    <div
      style="display: flex; align-items: center !important; justify-content: space-between !important; margin-bottom: 16px"
    >
      <p
        style="text-align: center; align-self: center; width: 20%; margin-bottom: 0px !important"
      >Filter by: </p>
      <div style="width: 80%">
        <button
          type="button"
          class="btn btn-primary"
          style="width: 30%; margin-right: 2%"
        >Transfers</button>
        <button
          type="button"
          class="btn btn-primary"
          style="width: 30%;  margin-right: 2%"
        >Deposits</button>
        <button
          type="button"
          class="btn btn-primary"
          style="width: 30%;  margin-right: 2%"
        >Withdrawals</button>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Type</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each transfers}}
          <tr>
            <td style="width: 30%">{{this.createdAt}}</td>
            <td style="width: 25%">{{this.status}}</td>
            <td style="width: 25%">Transfer</td>
            <td style="width: 20%">₦{{this.amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
>>>>>>> Stashed changes
  </div>

</div>