{{!< index }}

<form
  action="/auth/register"
  method="post"
  style="width: 30%; border: 1px solid #0a2558; padding: 24px; background-color: #fff; border-radius: 24px"
>
  <h3 style="text-align: center; margin-bottom: 24px">Register</h3>

  {{#if errorMessage}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <strong class="error-message" id="msgBox">{{errorMessage}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}

  <div class="form-group" style="margin: 12px auto;">
    <label for="firstName">First Name: </label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      aria-required="true"
      value="{{oldInput.firstName}}"
    />
  </div>

  <div class="form-group" style="margin: 12px auto;">
    <label for="lastName">Last Name: </label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      aria-required="true"
      value="{{oldInput.lastName}}"
    />
  </div>

  <div class="form-group" style="margin: 12px auto;">
    <label for="email">Email: </label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-required="true"
      value="{{oldInput.email}}"
    />
  </div>

  <div class="form-group" style="margin: 12px auto;">
    <label for="password">Password: </label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      aria-required="true"
      value="{{oldInput.password}}"
    />
  </div>

  <div class="form-group" style="margin: 12px auto;">
    <label for="phoneNumber">Phone Number: </label>
    <input
      type="text"
      class="form-control"
      id="phoneNumber"
      name="phoneNumber"
      value="{{oldInput.phoneNumber}}"
    />
  </div>

  <div style="display: flex; justify-content: center">
    <button
      type="submit"
      class="btn btn-primary"
      style="margin-top: 8px"
    >Register</button>
  </div>

  <h6 style="margin: 16px; text-align: center">Already have an account?
    <a href="/auth/login" style="text-decoration: none">login</a>
  </h6>
  {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}" /> deprecated  --}}
</form>

<script>

  function clearMsg() { const msgRef = document.querySelector("#msgBox")
  msgRef.textContent = "" }
  
   // get the input forms const passwordRef =
  document.querySelector("#password") 
  passwordRef.addEventListener("focus",clearMsg)
  
  const emailRef = document.querySelector("#email")
  emailRef.addEventListener("focus", clearMsg) 
  
  const lastNameRef = document.querySelector("#lastName")
  lastNameRef.addEventListener("focus", clearMsg) 
  
  const firstNameRef = document.querySelector("#firstName")
  firstNameRef.addEventListener("focus", clearMsg) 

  const phoneRef = document.querySelector("#phoneNumber") 
  phoneRef.addEventListener("focus", clearMsg)

</script>